body {
    width: 80%;
    margin: 2% 10% 2% 10%;
    font-size: 1.5rem; /* Default size for desktops/tablets */
    counter-reset: h2;
    font-family: serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 1080px) {
    body {
        font-size: 3rem; /* Larger font size for mobile */
    }
}

h2 {
    counter-reset: h3; /* Reset h3 counter when a new h2 starts */
}

h2::before {
    counter-increment: h2;
    content: counter(h2) ". ";
}

h3 {
    counter-reset: h4; /* Reset h4 counter when a new h3 starts */
}

h3::before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) " ";
}

h4 {
    counter-reset: h5; /* Reset h5 counter when a new h4 starts */
}

h4::before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

h5::before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td {
    border: solid thin black;
    padding: 5px;
}

img.diagram {
    max-height: 300px;
    max-width: 300px;
}

/*
#TOC {
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
}
*/

blockquote {
    border-left: thick solid black;
    padding-left: 10px;
}

img {
    max-width: 100%;
}

.internet_archive_iframe {
    aspect-ratio: 4 / 3;
    height: 500px;
}

/*
nav:not(#TOC) {
    font-size: 2rem;
}
*/

nav:not(#TOC) > ol {
    list-style-type: none;
    padding-left: 0;
}

nav:not(#TOC) > ol > li {
    display: inline-block;
    padding-right: 0.5rem;
    text-transform: uppercase;
}

/* Direct children of #TOC as decimal; adjust selectors for deeper nesting
* if needed */
#TOC > ul, #TOC ul {
    list-style-type: decimal;
    margin-left: 1.5em; /* optional indentation adjustment */
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
