<!doctype html>
<html lang="en">
  <body>
      {% filter md %}
          {% block body %}
          {% endblock %}
      {% endfilter %}
<script type="module" src="/static/js/indextree.js" defer></script>
  </body>
</html>
