{preprocessed_yml}: {input_path}
	$(call status,Preprocess $<)
	$(Q)mkdir -p $(dir {preprocessed_yml})
	$(Q){preprocess_cmd}
{output_html}: {preprocessed_md} {preprocessed_yml} {template_dep}
	$(call status,Generate HTML $@)
	$(Q)render-html {preprocessed_md} {preprocessed_yml} $@
