# New Press Project

## Building

Run `docker-compose build` to build the project.

## Rendering

`render-html` combines Jinja templates with the Python Markdown library to
convert Markdown sources into HTML pages.

