body {
    width: 80%;
    margin: 2% 10% 2% 10%;
    font-size: 1.5rem; /* Default size for desktops/tablets */
    font-family: serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 1080px) {
    body {
        font-size: 3rem; /* Larger font size for mobile */
    }
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td {
    border: solid thin black;
    padding: 5px;
}

img.diagram {
    max-height: 300px;
    max-width: 300px;
}

/*
#TOC {
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
}
*/

blockquote {
    border-left: thick solid black;
    padding-left: 10px;
}

img {
    max-width: 100%;
}

.internet_archive_iframe {
    aspect-ratio: 4 / 3;
    height: 500px;
}

/*
nav:not(#TOC) {
    font-size: 2rem;
}
*/

nav:not(#TOC) ul {
    list-style-type: none;
    padding-left: 0;
}

nav:not(#TOC) ul li {
    display: inline-block;
    padding-right: 0.5rem;
    text-transform: uppercase;
}

/* Direct children of #TOC as decimal; adjust selectors for deeper nesting
* if needed */
#TOC > ul, #TOC ul {
    list-style-type: decimal;
    margin-left: 1.5em; /* optional indentation adjustment */
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.pubdate {
  font-size: 0.8em;
  color: darkgray;
  margin-top: 0;
}
